.location-list {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.place-container {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  grid-template-rows: 60px;
  justify-items: center;
  align-items: center;
  padding: 8px;
  background-color: var(--primary-color);
  border-bottom: 4px solid var(--secondary-color);
  margin-block-end: 20px;
}

.place-container:hover {
  border-bottom: 4px solid rgb(231, 196, 0);
}

.location-list {
  align-self: stretch;
  overflow-y: scroll;
  max-height: 400px;
}

/* .location-icon {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 10px;
  width: 38px;
  background-color: white;
  padding: 6px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
} */

.btn-delete,
.btn-pan {
  cursor: pointer;
}